﻿.row {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    
}

.table {
    font-size: 14px;
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
}

.profile-image-1 {
    width: 40px;
    height: 40px;
}

.add-btn {
    background-color: forestgreen;
    padding: 2px;
    border-radius: 2px;
    margin: 0px;
    color: white;
}

.h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
}

.h3 {
    font-size: 18px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    color: #464242;
}

.logo-content {
    display: flex;
    justify-content: flex-start
}

.logo-img {
    border: solid 0px #42515f;
    width: 45px;
    height: 45px;
}

.text {
    margin: 0px;
    /*font-size: 15px;
    font-weight: bold;*/
    font: normal normal bold 20px/20px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
}

.text-1 {
    color: #82a70c;
}

.text-2 {
    color: #42515f;
}

.details-page {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.tableHead{
    background-color: lightslategray;
}

.tableBody{
    background-color: white;
}

.heading{
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
    justify-content: space-between;
    align-items: center;
}

.employeeContent {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: darkgray;
}
.addEmpBtn{
    height: 50%;
}

.addEmpBtnContent {
    background-color: limegreen;
    color: white;
    height: 70px;
}