@model CommonLayer.Model.EmployeeModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/emplyee.css" />

<div class="logo-content">
    <div>
        <img class="profile-image-1" src="~/assests/empimg.png" />
    </div>
    <div>
        <p class="text text-1">EMPLOYEE</p>
        <p class="text text-2">PAYROLL</p>
    </div>
</div>
<h1 class="h1">EDIT EMPLOYEE DETAILS</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="EmpID" class="control-label"></label>
                <input asp-for="EmpID" class="form-control" />
                <span asp-validation-for="EmpID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpProfileImage" class="control-label"></label>
                <input asp-for="EmpProfileImage" class="form-control" />
                <span asp-validation-for="EmpProfileImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpGender" class="control-label"></label>
                <input asp-for="EmpGender" class="form-control" />
                <span asp-validation-for="EmpGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpDepartment" class="control-label"></label>
                <input asp-for="EmpDepartment" class="form-control" />
                <span asp-validation-for="EmpDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpSalary" class="control-label"></label>
                <input asp-for="EmpSalary" class="form-control" />
                <span asp-validation-for="EmpSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpStartDate" class="control-label"></label>
                <input asp-for="EmpStartDate" class="form-control" />
                <span asp-validation-for="EmpStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetEmployee">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
