@model CommonLayer.Model.AdminModel

@{
    ViewData["Title"] = "AdminLogin";
}
<link rel="stylesheet" href="~/css/register.css" />
<div class="logo-content">
    <div>
        <img class="profile-image-1" src="~/assests/empimg.png" />
    </div>
    <div>
        <p class="text text-1">EMPLOYEE</p>
        <p class="text text-2">PAYROLL</p>
    </div>
</div>
<h1 class="h1">Employee Login</h1>
<hr />
<div class="row">
    <div class="registerContent">
        <form asp-action="AdminLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="AdminEmail" class="control-label"></label>
                <input asp-for="AdminEmail" class="form-control" />
                <span asp-validation-for="AdminEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminPassword" class="control-label"></label>
                <input asp-for="AdminPassword" class="form-control" />
                <span asp-validation-for="AdminPassword" class="text-danger"></span>
            </div>
            <div class="SubmitBtn">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
