@model CommonLayer.Model.EmpLoginModel

@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Start Date</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody class="text-center" id="table_data">

    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/custom.js"></script>

@*
<script src="..\lib\jquery\dist\jquery.js"></script>
<script src="..\lib\jquery\dist\jquery.js"></script>
<script src="..\js\custom.js"></script>*@
